<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd" default-init-method="init" default-destroy-method="destroy">

<!-- <bean id="product1" class="org.javaiw.model.Product"> -->
<!-- <bean id="product1" class="org.javaiw.model.Product" autowire="byName"> -->
<bean id="product1" class="org.javaiw.model.Product" autowire="byName">
<property name="pid" value="1"/>
<property name="pname" value="Laptop"></property>
<property name="brand" value="HP"></property>
<property name="price" value="72353"></property>
</bean>

<!-- 
	<property name="vendors">
 	<list>
	<ref bean="vendor1"/>
	<ref bean="vendor2"/>
	</list> 
</property>
-->

<!-- <property name="vendor" ref="vendor1"></property> 
  <property name="vendor">

	<bean class="org.javaiw.model.Vendor">
		<property name="vemail" value="sanket.jain@columbia.edu"></property>
		<property name="vname" value="Sanket Jain"></property>
	</bean>	

</property>
-->

<bean id="product2" class="org.javaiw.model.Product">
<constructor-arg index="0" value="2"></constructor-arg>
<constructor-arg index="1" value="WL Keyboard"></constructor-arg>
<constructor-arg index="2" value="Microsoft"></constructor-arg>
<constructor-arg index="3" value="72453"></constructor-arg>
</bean>

<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
<property name="username" value="java5"></property>
<property name="password" value="j2ee"></property>
<property name="initialSize" value="4"></property>
<property name="minIdle" value="2"></property>

</bean>

<!--<bean class="org.javaiw.model.LoggingAspect"></bean>-->

<!--  
<bean id="vendor1" class="org.javaiw.model.Vendor">
<property name="vemail" value="sanket.jain@columbia.edu"></property>
</bean>
-->
<!-- <property name="vname" value="Sanket Jain"></property> -->

<!--  <bean id="vendor" class="org.javaiw.model.Vendor"> -->
<!--  <bean id="vendor" class="org.javaiw.model.Vendor"> -->
<!--  <property name="vemail" value="sj2659@columbia.edu"></property> -->
<!--  
<bean id="vendor" class="org.javaiw.model.Vendor" parent="vendor1">
<property name="vname" value="Sanket"></property>
</bean>
-->

<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"></bean>
<context:component-scan base-package="org.javaiw.model"></context:component-scan>

</beans>

