<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jpademo-master-77844cd14706df1673cd1b17a732367bad1d3d39/src/main/java/com/aitacs/jee/jpademo/JpaTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aitacs.jee.jpademo.JpaTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jpademo-master-77844cd14706df1673cd1b17a732367bad1d3d39"/>
</launchConfiguration>
